.button {
    display: flex;
    background-color: transparent;
    border: none;
    transition: background 0.3s ease;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: var(--color-bg-elevated);
}

.list {
}

.list:hover {
    background-color: var(--color-bg-elevated);
}

.list:active {
    background-color: var(--color-bg-elevated);
}

.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon:hover {
    background-color: var(--color-bg-elevated);
}