:root {
    --color-bg-main: #282828;
    --color-text-primary: #EDEDED;
    --color-muted: #888888;
    --color-bg-elevated: #353535;

    --font-family: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--color-bg-main);
    color: var(--color-text-primary);
}