# Мастер-ключ Zitadel - ровно 32 символа. После первого запуска изменения игнорируются!!!
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters

# Домен и порт
ZITADEL_EXTERNALDOMAIN=localhost
PROXY_HTTP_PUBLISHED_PORT=8080
ZITADEL_EXTERNALPORT=8080
ZITADEL_EXTERNALSECURE=false
ZITADEL_TLS_ENABLED=false

# Версии образов
ZITADEL_VERSION=v4.15.0
TRAEFIK_IMAGE=traefik:v3.7.3
POSTGRES_IMAGE=postgres:17.2-alpine

# Админ Zitadel - создаётся один раз при старте. После первого запуска изменения игнорируются!!!
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=admin@example.com
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_ADDRESS=admin@example.com
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD=Password1!
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORDCHANGEREQUIRED=false

# SMTP тоже осле первого запуска изменения игнорируются!!!
ZITADEL_SMTP_DESCRIPTION=My SMTP Provider
ZITADEL_SMTP_HOST=smtp.example.com:465
ZITADEL_SMTP_TLS=true
ZITADEL_SMTP_FROM=noreply@example.com
ZITADEL_SMTP_FROM_NAME=My App
ZITADEL_SMTP_USER=noreply@example.com
ZITADEL_SMTP_PASSWORD=your-smtp-password

# Postgres
POSTGRES_DB=zitadel
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
ZITADEL_DATABASE_POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/zitadel?sslmode=disable
